@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 232px;
    background-color: #2A3647;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.menu-box.inactive {
    pointer-events: none;
}

.menu-logo {
    width: 100px;
    height: 122px;
    object-fit: cover;
}

.menu-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.menu-button {
    width: 100%;
    height: 46px;
    background-color: #2A3647;
    border: none;
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 56px;
    text-decoration: none;
    cursor: pointer;
}

.menu-button:hover {
    background-color: #2A3D59;
}

.menu-button-selected {
    background-color: #091931;
    color: #FFFFFF;
    pointer-events: none;
    cursor: default;
}

.menu-button-selected:hover {
    background-color: #091931;
}

.menu-button-bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding-top: 243px;
}

.menu-button-bottom {
    width: 100%;
    height: 35px;
    background-color: #2A3647;
    border: none;
    color: #ABA8A8;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    padding-left: 52px;
    cursor: pointer;
}

.menu-button-bottom:hover {
    color: #29ABE2;
    font-size: 16px;
    font-weight: 700;
}

.menu-button-bottom-selected {
    background-color: #091931;
    pointer-events: none;
    cursor: default;
}

.menu-button-bottom-selected:hover {
    background-color: #091931;
    color: #ABA8A8;
    font-size: 16px;
    font-weight: 400;
}

.menu-button-icon {
    width: 30px;
    height: 30px;
    fill: #CDCDCD;
}

.menu-button-selected .menu-button-icon {
    fill: #FFFFFF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.1);
    margin-bottom: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    padding-right: 40px;
    padding-left: 116px;
}

.mobile-logo{
    display: none;
}

.text-nav {
    font-size: 20px;
    line-height: 24px;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.help-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.help-img {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

.help-button:hover {
    scale: 1.6;
}

.small-menu-button {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;
    border-radius: 100%;
    background-color: #FFFFFF;
    color: #29ABE2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.small-menu-button.inactive{
    pointer-events: none;
}

.small-menu-button:hover {
    background-color: rgba(12, 46, 98, 0.12);
}

.help-img:hover {
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}
.overlay.active {
    display: flex;
}

.account-submenu-container{
    position: absolute;
    height: 150px;
    width: 158px;

    background-color:#2A3647;
    border-radius: 20px 0 20px 20px;
    right: 10px;
    top: 96px;
}

ul{
    height: 100%;
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

li{
    min-width: 100%;
}

.account-submenu-container a{
    display: flex;
    align-items: center;
    justify-content: start;
    color: #CDCDCD;
    height: 100%; 
    width: 100%; 
    padding: 8px 16px; 
}

.account-submenu-container a:hover{
    background-color: rgba(64, 6, 236, 0.205);
    border-radius: 8px;
}

.d-none{
    display: none;
}

@media(max-width: 428px){
    .menu-box {
        width: 100%;
        height: 80px;
        padding: 0;
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        z-index: 2;
    }

    .menu-logo {
        display: none;
    }

    header {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.1);
        margin-bottom: 4px;
        top: 0;
        left: 0;
        z-index: 2;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 80px;
        padding-left: 0;
        padding: 20px 16px;
    }

    .mobile-logo{
        display: block;
        width: 32px;
        height: 39px;
    }

    .text-nav {
        display: none;
    }

    .help-button {
        display: none;
    }

    .small-menu-button {
        width: 40px;
        height: 40px;
    }

    .small-menu-button:hover {
        background-color: transparent;
    }

    .menu-button-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        padding: 0px 16px;
    }

    .menu-button {
        width: 76px;
        height: 80px;
        font-size: 16px;
        font-weight: 400;
        gap: 8px;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .menu-button:hover {
        background-color: transparent;
    }

    .menu-button-bottom-box {
        display: none;
    }

    .menu-button-selected {
        height: 76px;
        width: 76px;
        border-radius: 16px;
    }

    .menu-button-icon {
        width: 24px;
        height: 24px;
    }
}