@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;
}

#main {
    height: calc(100vh - 96px);
    padding: 110px 0 0 96px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-color: #F6F7F8;
}

#main h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
}

#form-add-task {
    display: flex;
    gap: 80px;
}

#form-left,
#form-right {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-input-label {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label-add-task,
.asterisk {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.label-add-task {
    color: #2A3647;
}

.asterisk {
    color: red;
}

.input-add-task {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

#title {
    height: 48px;
    padding: 12px 21px;
}

#title::placeholder,
#description::placeholder,
#due-date::placeholder {
    color: #D1D1D1;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#description {
    height: 120px;
    padding: 18px 16px;
    display: flex;
    background-image: url(../assets/icons/resizer.svg);
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;
    background-size: 19px;
}

#description::-webkit-resizer {
    display: none;
}

#assigned-to,
#category {
    height: 48px;
    padding: 12px 21px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    appearance: none;
    background-image: url(../assets/icons/arrow_drop_down.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 21px right 20px;
}

hr {
    border: 1px solid #D1D1D1;
}

#due-date {
    height: 48px;
    padding: 12px 16px;
    background-image: url(../assets/icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 12px left 403px;
}

#due-date::placeholder,
#subtasks::placeholder {
    color: #D1D1D1;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#prio {
    height: 48px;
}

#subtasks {
    height: 48px;
    padding: 12px 16px;
    appearance: none;
    background-image: url(../assets/icons/add.svg);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: top 18px right 18px;
}

#buttons-prio {
    height: 56px;
    display: flex;
    gap: 16px;
}

#buttons-prio img {
    width: 20px;
}

.button-prio {
    width: 136px;
    height: 56px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.button-prio:hover {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}