@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
    margin: 0;
    font-family: Inter;
    box-sizing: border-box;
}

.d-none {
    display: none !important;
}

.grey {
    color: #F6F7F8;
}

.red {
    color: red;
}

.white {
    color: white;
}

.black {
    color: black;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #2A3647;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(294deg) brightness(500%) contrast(101%);
}

.flex {
    display: flex;
}

.flex-align {
    display: flex;
    align-items: center;
}

.gap-15 {
    gap: 15px;
}

#main {
    height: 100vh;
    /* height: calc(100vh - 96px); */
    /* width: calc(100vw - 232px); */
    padding: 110px 0 64px 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F6F7F8;
}

#main h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
}

#container-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#form-add-task {
    display: flex;
    gap: 80px;
}

#form-left,
#form-right {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-input-label {
    position: relative;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.label-add-task {
    color: #2A3647;
    padding-bottom: 8px;
}

.asterisk {
    color: red;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    cursor: pointer;
}

.required {
    height: 16px;
    font-size: 14px;
    padding-top: 2px;
}

#title {
    height: 48px;
    padding: 12px 21px;
}

.label-add-task,
#title,
#description,
#due-date,
#assigned-to,
#category,
#subtasks {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#title::placeholder,
#description::placeholder,
#due-date::placeholder,
#subtasks::placeholder {
    color: #D1D1D1;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#title:focus,
#description:focus,
#due-date:focus  {
    outline: 1px solid #94D5F0;
}

#container-input-assigned:focus-within,
#container-input-category:focus-within {
    border: 1px solid #94D5F0;
}

#description {
    min-height: 120px;
    max-height: 220px;
    max-width: 440px;
    padding: 18px 16px;
    display: flex;
    background-image: url(../assets/icons/resizer.svg);
    background-repeat: no-repeat;
    background-position: right 5px bottom 5px;
    background-size: 19px;
}

#description::-webkit-resizer {
    display: none;
}

#assigned-to,
#category {
    height: 48px;
    padding: 12px 21px 11px 21px;
    appearance: none;
}

#container-input-assigned,
#container-input-category,
#container-input-subtask {
    border: 1px solid #D1D1D1;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#container-input-assigned,
#container-input-category {
    z-index: 2;
}

#container-input-assigned:hover {
    cursor: pointer;
}

#assigned-to,
#category,
#subtasks {
    border: none;
    outline: none;
    border-radius: 10px;
    flex: 1;
}

#assigned-to:hover,
#category:hover {
    cursor: pointer;
}

#assigned-to::placeholder,
#category::placeholder {
    color: black;
}

.button-dropdown,
.button-add {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.button-accept-reject {
    margin: 0;
}

.button-dropdown:hover,
.button-add:hover {
    background-color: #D1D1D1;
    cursor: pointer;
}

.container-button-confirm {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

.container-button-confirm hr {
    height: 20px;
}

#container-input-assigned img {
    width: 10px;
    padding-top: 2px;
    padding-right: 1px;
}

.custom-select {
    position: relative;
}

.container-custom-select-options {
    position: absolute;
    top: 32px;
    z-index: 1;
    width: 440px;
    min-height: 48px;
    max-height: 248px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    padding-top: 48px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: none;
    border: none;
}

.container-custom-select-option {
    border-radius: 10px;
}

.container-custom-select-option:last-child {
    margin-bottom: 0;
}

.container-custom-select-option:hover {
    cursor: pointer;
}

.container-bg {
    height: 48px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
    border-radius: 10px;
    margin-bottom: 2px;
}

.container-bg:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.initials {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3D00;
    border-radius: 50%;
    color: white;
    font-family: Inter;
    font-size: 12px;
}

.name,
.category {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

hr {
    border: 1px solid #D1D1D1;
}

#due-date {
    height: 48px;
    padding: 12px 16px;
    background-image: url(../assets/icons/calendar.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: top 12px left 403px;
}

#prio {
    height: 48px;
}

#subtasks {
    height: 48px;
    padding: 12px 16px;
}

#buttons-prio {
    height: 56px;
    display: flex;
    gap: 16px;
}

#buttons-prio img {
    width: 20px;
}

.button-prio {
    width: 136px;
    height: 56px;
    border: none;
    background-color: white;
    border-radius: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.urgent {
    background-color: #FF3D00;
}

.medium {
    background-color: #FFA800;
}

.low {
    background-color: #7AE229;
}

.button-prio:hover {
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
    border: 1px solid #29abe2;
}

.position-relative {
    position: relative;
}

#container-subtasks {
    margin-top: 8px;
    min-height: 120px;
    max-height: 120px;
    overflow-y: auto;
}

.container-subtask-edit {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    z-index: 1;
}

.padding-top {
    padding-top: 30px;
}

.input-edit {
    flex: 1;
}

.container-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
}

.container-subtask:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.subtask-text {
    display: flex;
    gap: 5px;
}

.subtask-icons {
    display: flex;
    gap: 7px;
}

.subtask-icons img {
    width: 16px;
}

.subtask-icons img:hover {
    cursor: pointer;
}

.subtask-icons hr {
    height: 22px;
}

#footer-add-task {
    width: 1040px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#footer-add-task p {
    height: 24px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

#footer-add-task div {
    display: flex;
    gap: 16px;
}

#button-clear,
#button-create {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
}

#button-clear {
    color: #2A3647;
    background-color: transparent;
    border: 1px solid #2A3647;
}

#button-create {
    color: white;
    background-color: #2A3647;
    border: none;
}

#button-clear:hover {
    padding: 15px;
    color: #29abe2;
    background-color: transparent;
    border: 2px solid #29abe2;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

#button-create:hover {
    background-color: #29abe2;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-height: 800px) {
    #main {
        padding-top: 20px;
    }
}