@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #F6F7F8;
}

.allcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 232px;
    width: calc(100% - 232px);
}

.board__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.title-input-button__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056px;
    margin-left: 64px;
    margin-top: 79.5px;
    margin-bottom: 48px;
}

h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    color: #000000;
}

.input-button__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.search-field__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 312px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #ABA8A8;
    padding: 8px 16px;
    background-color: #FFFFFF;
}

.search-field__box:focus-within {
    border: 1px solid #29ABE2;
}

.search-field__input {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    width: 240px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search-field__input:focus {
    border: none;
    outline: none;
}

.search-field__input::placeholder {
    color: #D1D1D1;
}

.search-field__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 32px;
    padding-left: 14px;
    background-color: #FFFFFF;
    border: none;
    border-left: 1px solid #D1D1D1;
    cursor: pointer;
}

.search-field__img {
    width: 32px;
    height: 32px;
}

.search-field__button:hover .search-field__img {
    background-color: #EEEEEE;
    border-radius: 45px;
}

.search-field__button:active .search-field__img {
    background-color: #FFFFFF;
}

.search-field__close-img {
    width: 32px;
    height: 32px;
}

.search-field__close-img .icon {
    fill: #2A3647;
}

.search-field__close-img .bg {
    fill: #FFFFFF;
}

.search-field__button:hover .search-field__close-img .bg {
    fill: #EEEEEE;
    border-radius: 45px;
}

.search-field__button:active .search-field__close-img .icon {
    fill: #FFFFFF;
}

.search-field__button:active .search-field__close-img .bg {
    fill: #29ABE2;
}

.add-task__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2A3647;
    padding: 8px 16px;
    gap: 4px;
    background-color: #2A3647;
    font-size: 21px;
    line-height: 25.2px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.add-task__button:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.add-task__button:active {
    background-color: #091931;
    border: 1px solid #2A3647;
    box-shadow: none;
}

.add-task__img {
    width: 32px;
    height: 32px;
}

.tasks-category__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    width: 1208px;
    gap: 24px;
    margin-bottom: 12px;
}

.to-do__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    height: 24px;
}

.to-do__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526E;
}

.to-do__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    padding: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #2A3647;
    cursor: pointer;
    background-color: #F6F7F8;
}

.to-do__button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.to-do__button:active {
    border: 2px solid #2A3647;
    color: #2A3647;
}

.in-progress__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    height: 24px;
}

.in-progress__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526E;
}

.in-progress__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    padding: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #2A3647;
    cursor: pointer;
    background-color: #F6F7F8;
}

.in-progress__button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.in-progress__button:active {
    border: 2px solid #2A3647;
    color: #2A3647;
}

.await-feedback__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    height: 24px;
}

.await-feedback__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526E;
}

.await-feedback__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 2px solid #2A3647;
    padding: 3px;
    font-size: 18px;
    font-weight: 700;
    color: #2A3647;
    cursor: pointer;
    background-color: #F6F7F8;
}

.await-feedback__button:hover {
    border: 2px solid #29ABE2;
    color: #29ABE2;
}

.await-feedback__button:active {
    border: 2px solid #2A3647;
    color: #2A3647;
}

.done__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 244px;
    height: 24px;
}

.done__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #42526E;
}

.all-drag-field-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 0 64px;
    overflow-y: auto;
    scrollbar-width: thin;
    width: 1218px;
    max-height: 600px;
    /* scrollbar-color: #2A3647 white; */
    /* border-width: 100px; */
}

.drag-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 270px;
    min-height: 100%;
    padding: 24px 0;
    gap: 24px;
    /* background-color: rgb(0, 0, 0, 0.2); */
}

.user-story__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    border-radius: 24px;
    background-color: #FFFFFF;
    width: 252px;
    /* height: 225px; */
    box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.08);
    cursor: grab;
}

.user-story__box:active {
    cursor: grabbing;
}

.drag-start-transform {
    transform: rotate(5deg);
}

.user-story__category-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    border-radius: 8px;
    padding: 4px 16px;
    gap: 10px;
}

.user-story__category-box-user-story {
    width: 113px;
    background-color: #0038FF;
}

.user-story__category-box-technical-task {
    width: 144px;
    background-color: #1FD7C1;
}

.user-story__category-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #FFFFFF;
}

.user-story__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #2A3647;
}

.user-story__discription {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #ABA8A8;
}

.user-story__scale-text-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 16px;
}

.user-story__subtask-scale-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background-color: #F4F4F4;
}

.user-story__subtask-scale-fill {
    height: 100%;
    /* width: 50%; */
    background-color: #4589FF;
    border-radius: 8px;
}

.user-story__subtask-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #000000;
}

.user-story__name-priority-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 32px;
}

.user-story__name-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-story__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #FFFFFF;
    border-radius: 45px;
    gap: 10px;
    margin-right: -7.5px;
}

.initials-over-six {
    padding-left: 12px;
    font-size: 16px;
    font-weight: 700;
}

.card-border-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    /* height: 244px; */
    border-radius: 30px;
    border: 1px dashed #ABA8A8;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.16);
    pointer-events: none;
}

.no-task-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 252px;
    height: 48px;
    border-radius: 10px;
    border: 1px dashed #ABA8A8;
    background-color: #E7E7E7;
    box-shadow: 0 0 4 0 rgb(0, 0, 0, 0.16);
    pointer-events: none;
}

.no-task-text {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #ABA8A8;
}

.background-color-1 {
    background-color: #9327FF;
}

.background-color-2 {
    background-color: #FC71FF;
}

.background-color-3 {
    background-color: #FFBB2B;
}

.big-task-card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.25);
}

.big-task-card__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 525px;
    height: 931px;
    border-radius: 30px;
    padding: 48px 40px;
    gap: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.16);
    animation: slide-in 120ms ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(65vw);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-back {
    animation: slide-out 120ms ease-in-out forwards;
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(65vw);
    }
}

.big-task-card__task-type-text-button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 445px;
    height: 36px;
}

.big-task-card__task-type-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 8px;
    padding: 4px 24px;
    gap: 10px;
}

.big-task-card__category-box-user-story {
    width: 164px;
    background-color: #0038FF;
}

.big-task-card__category-box-technical-task {
    width: 208px;
    background-color: #1FD7C1;
}

.big-task-card__task-type-text {
    font-size: 23px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 27.6px;
}

.big-task-card__task-type-button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    color: #2A3647;
    font-size: 24px;
}

.big-task-card__title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 445px;
    height: 219px;
}

.big-task-card__title {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: #000000;
}

.big-task-card__task-description-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    /* height: 24px; */
}

.big-task-card__task-description-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.big-task-card__due-date-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    height: 24px;
    gap: 25px;
}

.big-task-card__due-date-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.big-task-card__priority-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    height: 32px;
    gap: 25px;
}

.big-task-card__priority-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.big-task-card__priority-text-img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 139px;
    height: 32px;
    padding: 4px 18px;
    gap: 10px;
    border-radius: 10px;
}

.big-task-card__assigned-to-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 445px;
    height: 208px;
    gap: 8px;
}

.big-task-card__assigned-to-text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    height: 24px;
}

.big-task-card__assigned-to-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.big-task-card__assigned-to-names-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 445px;
    height: 176px;
}

.big-task-card__div-scroll {
    overflow-y: auto;
    scrollbar-width: thin;
}

.big-task-card__div-scroll::-webkit-scrollbar {
    width: 8px;
}

.big-task-card__div-scroll::-webkit-scrollbar-track {
    background: white;
}

.big-task-card__div-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;

}

.big-task-card__div-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(180, 180, 180);
    cursor: pointer;
}

.big-task-card__initials-name-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: width 100%;
    height: 56px;
    border-radius: 10px;
    padding: 7px 16px;
    gap: 16px;
}

.big-task-card__name {
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    color: #000000;
}

.big-task-card__initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    gap: 10px;
    border: 2px solid #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #FFFFFF;
}

.bg-color-1 {
    background-color: #1FD7C1;
}

.bg-color-2 {
    background-color: #462F8A;
}

.bg-color-3 {
    background-color: #0038FF;
}

.big-task-card__subtasks-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 445px;
    height: 100px;
    gap: 8px;
}

.big-task-card__subtasks-title-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 445px;
    height: 24px;
}

.big-task-card__subtasks-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.big-task-card__all-subtasks-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 68px;
    gap: 4px;
}

.big-task-card__subtasks-check-text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 344px;
    height: 32px;
    padding: 6px 16px;
    gap: 16px;
}

.big-task-card__button-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 8px;
}

.big-task-card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86px;
    height: 24px;
    gap: 8px;
}

.big-task-card__button:hover {
    color: #29abe2;
    font-weight: 700;
}

.big-task-card__button:active {
    color: #2A3647;
}

.big-task-card__button-img {
    width: 24px;
    height: 24px;
    fill: #2A3647;
}

.big-task-card__button:hover .big-task-card__button-img {
    fill: #29abe2;
}

.big-task-card__button:active .big-task-card__button-img {
    fill: #2A3647;
}

.big-task-card__seperator {
    width: 1px;
    height: 24px;
    margin-left: 8px;
    background-color: #D1D1D1;
}

.big-task-card-edit__task-type-text-button-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 445px;
    height: 36px;
}

.big-task-card-edit__task-type-button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    color: #2A3647;
    font-size: 24px;
}

.big-task-card-edit__scroll-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 470px;
    height: 697px;
    overflow-y: auto;
    scrollbar-width: thin;
    gap: 24px;
    margin-bottom: 24px;
}

.big-task-card-edit__text-input-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 445px;
    height: 96px;
    gap: 8px;
}

.big-task-card-edit__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2A3647;
}

.big-task-card-edit__input {
    width: 445px;
    height: 48px;
    border-radius: 10px;
    padding: 12px 21px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    outline: none;
    cursor: pointer;
}

.big-task-card-edit__text-textarea-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 445px;
    height: 168px;
    gap: 8px;
}

.big-task-card-edit__textarea {
    width: 445px;
    min-height: 138px;
    height: 120px;
    border-radius: 10px;
    padding: 18px 16px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    resize: vertical;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.big-task-card-edit__text-button-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 445px;
    height: 87px;
    gap: 8px;
}

.big-task-card-edit__button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 445px;
    height: 56px;
    gap: 16px;
}

.big-task-card-edit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137.67px;
    height: 56px;
    border-radius: 10px;
    padding: 16px 10px;
    gap: 8px;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
}

.big-task-card-edit__Ok-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 57px;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    background-color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    color: #FFFFFF;
}

.big-task-card-edit__Ok-button:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.big-task-card-edit__Ok-button:active {
    background-color: #091931;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.big-task-card-edit__Ok-button-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}








.d-none {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

#main {

    width: 1116px;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    border-radius: 30px;
    min-height: 100%;
    margin: 0;
}

#main h1 {
    font-size: 61px;
    line-height: 73.2px;
    font-weight: 700;
    margin-bottom: 48px;
}

#container-form {
    padding: 64px 74px;
    width: 100%;
}

#footer-add-task {
    width: 100%;
}

#form-add-task {
    gap: 48px;
}

#container-assigned-contacts {
    flex-wrap: wrap;
}

#container-input-subtask {
    width: 445px;
}

#container-subtasks {
    overflow-y: visible;
    max-height: fit-content;
}

.container-subtask {
    width: 445px;
}

#container-input-assigned {
    width: 445px;
}

#container-prioritys {
    padding-bottom: 0;
}