.grey {
    color: #F6F7F8 !important;
}

.red {
    color: red;
}

.white {
    color: white;
}

.black {
    color: black;
}

.selected {
    background-color: #2A3647;
}

.bg-orange {
    background-color: #FF7A00;
}

.bg-pink {
    background-color: #FF5EB3;
}

.bg-bluepurple {
    background-color: #6E52FF;
}

.bg-purple {
    background-color: #9327FF;
}

.bg-skyblue {
    background-color: #00BEE8;
}

.bg-turquoise {
    background-color: #1FD7C1;
}

.bg-redorange {
    background-color: #FF745E;
}

.bg-peach {
    background-color: #FFA35E;
}

.bg-rose {
    background-color: #FC71FF;
}

.bg-sun {
    background-color: #FFC701;
}

.bg-darkblue {
    background-color: #0038FF;
}

.bg-green {
    background-color: #C3FF2B;
}

.bg-yellow {
    background-color: #FFE62B;
}

.bg-red {
    background-color: #FF4646;
}

.bg-darkyellow {
    background-color: #FFBB2B;
}