* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Inter;
}

.all-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 232px;
    width: calc(100% - 232px);
}

.content{
    width: 100%;
}

#contactlist-container{
    position: absolute;
    width: auto;
    height: calc(100vh - 10vh);
    top: 96px;
    width: 456px;
    box-shadow: 0px 7px 6px 2px rgba(0, 0, 0, 0.11);
    background-color: #FFFFFF;
    overflow: auto;
}

#contactlist-container{
    scrollbar-color: grey rgb(252, 252, 252);
    scrollbar-width: thin;
}

#contactlist-container::-webkit-scrollbar{
    width: 8px;
}

#contactlist-container::-webkit-scrollbar-track{
    background: white;
}

#contactlist-container::-webkit-scrollbar-thumb{
    background: grey;
    border-radius: 10px;
    
}

#contactlist-container::-webkit-scrollbar-thumb:hover{
    background: rgb(180, 180, 180);
    cursor: pointer;
}

.contacs-box-container{
    max-height: 100%;
    width: 100%;
    padding: 0 50px;
    padding-top: 85px;
}

#contact-flex-container{
    display: flex;
}

.more-information-container{
    position: fixed;
    top: 96px;
    left: 688px;
    height: 100%;
    width: 100%;
}

.contact-headline {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 113px;
    margin-left: 60px;
}

.contact-headline h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 73px;
}

.contact-headline span {
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
}

#container-contacts-button {
    display: flex;
    flex-direction: column;
    left: 250px;
    position: fixed;
    background-color: #FFFFFF;
}

#container-contacts-button:nth-child(2) {
    padding-top: 400px;
}

#container-contacts-button button {
    top: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 352px;
    height: 56px;
    background-color: #2A3647;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    margin: 30px;
}

#container-contacts button:hover {
    background-color: #29abe2;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

#container-contacts img {
    width: 32px;
    height: 32px;
}

.mobile-img-line{
    display: none;
}

.container-letter {
    width: 352px;
    height: 58px;
    padding: 17px 36px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 5px 0;
}

.line{
    width: 100%;
    height: 2px;
    border: none;
    border-radius: 3px;
    background-color: #D1D1D1;
}

.container-contact {
    width: 352px;
    height: 78px;
    border-radius: 10px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 10px 0;
}

.contactList{
    padding-bottom: 40px;
}

.container-contact:hover {
    cursor: pointer;
    background-color: #cccccc59;
}

.container-contact.select-contact {
    background-color: #2A3647;
}

.dark-border {
    border: 2px solid #333;
}

.container-initials {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.container-contact-preview {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-preview-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.contact-preview-mail {
    color: #007CEE;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.contact-info-container{
    margin-top: 30px;
    margin-left: 60px;
}

#moreInformationContact {
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

.info-name-container{
    display: flex;
    align-items: center;
    gap: 54px;
}

.procressing-area{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.procressing-area h1{
    font-size: 47px;
}

.more-info-initials{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: 47px;
    line-height: 14px;
}

.procressing-area-button-container{
    justify-content: flex-start;
    display: flex;
    gap: 13px;
}

.procressing-area-button{
    display: flex;
    gap: 8px;
    transform-origin: right;
    color: black;
}

.procressing-area-button:hover .icon,
.procressing-area-button:hover p {
    color: #29abe2;
    font-weight: 700;
    transform: scale(1.02);
}

.procressing-area-button button{
    height: 24px;
    width: 24px;
}

.procressing-area-button p{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px
}

.contact-information{
    height: 74px;
    width: 207px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.contact-information p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.info-box-container{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.info-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-box p{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.info-box a{
    color: #007CEE;
}

.contact-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.d-none{
    display: none;
}

.new-Contect-Container {
    position: fixed;
    width: 1200px;
    height: 600px;
    border-radius: 30px;
    display: flex;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
}

@keyframes swipeIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes swipeOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

.information-content-container{
    width: 460px;
    height: 100%;
    border-radius: 30px 0 0 30px;
    padding-left: 40px;

    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 16px;
}

.information-content-container img{
    width: 55px;
}

.information-content-container h1{
    font-size: 61px;
    font-weight: 700;
    color: white;
}

.information-content-container p{
    font-size: 27px;
    font-weight: 400;
    color: white;
}

.information-content-container hr{
    border: none;
    height: 2px;
    width: 85px;
    background-color: #29ABE2;

}

.add-input-contect-container{
    width: 840px;
    height: 100%;
    border-radius: 0 30px 30px 0;

    background-color: white;
    display: flex;
    align-items: center;
    gap: 70px;
}

.close-btn{
    position: absolute;
    padding: 5px;
    margin-left: 670px;
    margin-bottom: 480px;
    transition: 100ms;
}

.mobile-close-btn{
    display: none;
}

.close-btn:hover{
    background-color: #cccccc52;
    padding: 5px;
    border-radius: 100%;
}

.new-user-image{
    height: 120px;
    width: 120px;
    border-radius: 70px;
    border: solid 3px white;
    background-color: #D1D1D1;
    margin-left: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-contact-initialien{
    font-size: 47px;
    color: #FFFFFF;
}

.edit-contact-initcolor{
    height: 120px;
    width: 120px;
    border-radius: 70px;
    border: solid 3px white;
    margin-left: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.input-area{
    position: relative;
    display: flex;
    align-items: center;
    width: 422px;
}

.input-area input {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-area img{
    position: absolute;
    right: 10px;
}

.input-area input::placeholder{
    color: #D1D1D1;
}

.contact-button-container{
    display: flex;
    gap: 24px;
    margin-top: 10px;
}

.cancel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 56px;
    padding: 0 16px;
    gap: 8px;
    border-radius: 10px;
    border: solid 1px black;
    font-size: 24px;
    font-weight: 300;
    transform-origin: left;
    transition: 100ms;
}

.cancel-btn p{
    font-size: 20px;
    font-weight: 400;
}

.cancel-btn:hover{
    color: #29abe2;
    border: solid 2px #29abe2;
    transform: scale(0.99);
}

button .close-icon:hover path{
    stroke: #29abe2;
}

.create-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226px;
    height: 57px;
    padding: 16px;
    gap: 8px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 24px;
    font-weight: 400;
    transition: 100ms;
}

.create-btn:hover{
    background-color: #29abe2;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.save-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    width: 111px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 24px;
    font-weight: 400;
    transition: 100ms;
}

.save-btn:hover{
    background-color: #29abe2;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.massage-box{
    position: absolute;
    bottom: 100px;
    right: 120px;
}

.text-message{
    width: 326px;
    height: 74px;
    border-radius: 20px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-message h1 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.back-to-contactlist-btn{
    display: none;
}

.mobile-procressing-area-overlay{
    display: none;
}

.procress-mobile-view{
    display: none;
}

.mobile-overlay{
    display: none;
}

@media(max-width: 1300px){
    .contact-headline{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin: 24px 0 0 16px;
        gap: 16px;
        margin-top: 113px;
        margin-left: 60px;
        background: #ffffff;
    }

    .desktope-line{
        display: none;
    }

    .mobile-img-line{
        display: flex;
    }
}

@media(max-width: 1200px){
    .info-name-container {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}

@media(max-width: 1040px){
    #contactlist-container {
        height: calc(100vh - 16.7vh);
        top: 80px;
        left: 0;
    }

    .contacs-box-container {
        padding-top: 15px;
    }

    #container-contacts-button {
        left: 18px;
    }

    .more-information-container {
        display: none;
        top: 96px;
        left: 458px;
        height: 100%;
        width: 100%;
    }

    #container-contacts-button {
        height: 0;
        width: 0;
        left: 85%;
        background-color: transparent;
        margin-top: 680px;
    }

    #container-contacts-button button {
        width: 56px;
        height: 56px;
        background-color: #2A3647;
        padding: 12px;
        border: none;
        border-radius: 100%;
        color: white;

    }

    #container-contacts-button p {
        display: none;
    }

    .mobile-overlay {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        background: #ffffff;
        z-index: 1;
    }

    .headline-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .contact-headline{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin: 24px 0 0 60px;
        gap: 16px;
        background: #ffffff;
    }
    
    .headline-container .back-to-contactlist-btn{
        display: flex;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        margin-bottom: 60px;
        cursor: pointer;
    }

    .procressing-area-button-container {
        display: none;
    }

    .contact-information {
        height: 24px;
        width: 330px;
        margin-top: 20px;
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .mobile-procressing-area-overlay{
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 1;
    }

    .mobile-procressing-area-overlay.active{
        display: flex;
    }

    .mobile-procressing-area-button{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 56px;
        border-radius: 56px;
        background-color: #2A3647;
        box-shadow: 0px 1px 6px 1px #2A3647;
        cursor: pointer;
        margin-top: 710px;
        left: 90%;
    }

    .procressing-mobile-menu-container{
        height: 116px;
        width: 100px;
        background-color: #FFFFFF;
        border-radius: 30px 30px 0 30px;
        margin-top: 750px;
        margin-left: 320px;
        animation: slidProcressMenu 0.2s ease-in;
    }

    @keyframes slidProcressMenu {
        from {
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
    }
    
    .procressing-mobile-menu{
        height: 116px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .procressing-area-button-mobile-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
        gap: 8px;
    }

    .procressing-area-edit-button-mobile{
        display: flex;
        padding: 8px 20px 8px 10px;
        gap: 8px;
        color: black;
        font-size: 16px;
    }

    .procressing-area-delete-button-mobile{
        display: flex;
        padding: 5px 0px 0px 10px;
        gap: 8px;
        color: black;
        font-size: 16px;
    }

    .procressing-area-button-mobile-backgroundcolor{
        background-color: #cccccc4b;
        border-radius: 5px;
    }
}

@media(max-width: 650px){
    #container-contacts-button {
        height: 0;
        width: 0;
        left: 80%;
        background-color: transparent;
        margin-top: 680px;
    }
}

@media(max-width: 460px){
    #contactlist-container {
        width: 100%;
    }

    .contacs-box-container {
        padding: 0 10px;
    }
}

@media(max-width: 428px){
    #contactlist-container {
        width: 100%;
    }
    #container-contacts-button {
        height: 0;
        width: 0;
        left: 70%;
        background-color: transparent;
        margin-top: 680px
    }
    
    #container-contacts-button:nth-child(2) {
        padding-top: 400px;
    }
    
    #container-contacts-button button {
        width: 56px;
        height: 56px;
        background-color: #2A3647;
        padding: 12px;
        border: none;
        border-radius: 100%;
        color: white;
    }

    #container-contacts-button p{
        display: none;
    }

    #contact-details {
        display: none;
    }

    .line {
        width: 352px;
    }

    section{
        width: 352px;
    }

    .container-contact:hover {
        background-color: transparent;
    }

    .container-contact.select-contact {
        background-color: transparent;
    }

    .contact-overlay {
        position: absolute;
        height: 100vh;
        width: 428px;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.603);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fadeIn 0.5s forwards;
    }

    .contact-info-container{
        margin-top: 0;
        margin-left: 0;
    }

    .new-Contect-Container{
        position: fixed;
        width: 396px;
        height: 760px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        transform: translateY(100%);
        transition: transform 0.5s ease-out;
    }

    .information-content-container {
        width: 100%;
        height: 352px;
        border-radius: 30px 30px 0 0;
        padding-left: 40px;
        background-color: #2A3647;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 16px;
    }

    .information-content-container img{
        display: none;
    }

    .information-content-container h1{
        font-size: 47px;
        font-weight: 700;
        color: white;
    }

    .information-content-container p {
        font-size: 20px;
        font-weight: 400;
        color: white;
    }

    .add-input-contect-container{
        width: 100%;
        height: 408px;
        border-radius: 0 0 30px 30px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .procress-mobile-view{
        display: flex;
    }

    .close-btn {
        position: absolute;
        padding: 5px;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .desktop-close-btn {
        display: none;
    }

    .mobile-close-btn{
        display: flex;
        position: absolute;
        left: 152px;
        top: -330px;
        width: 32px;
        height: 32px;
    }

    .new-user-image {
        position: absolute;
        margin-left: 0px;
        top: 295px;
    }

    form{
        margin-top: 93px;
    }

    .input-container {
        align-items: center;
        gap: 8px;
    }

    .input-area {
        position: relative;
        display: flex;
        align-items: center;
        width: 364px;
    }

    .input-area input{
        height: 41px;
    }

    .create-btn {
        height: 51px;
        width: 202px;
        margin-top: 20px;
        font-size: 20px;
    }

    .create-btn:hover{
        background-color: #2A3647;
        box-shadow: none;
    }

    .cancel-btn {
        display: none;
    }

    .edit-contact-initcolor {
        position: absolute;
        margin-left: 0;
        top: 295px;
    }

    .mobile-container{
        gap: 24px;
    }

    .mobile-delete-view{
        display: flex;
    }

    .contact-button-container {
        margin-top: 0;
    }

    .save-btn:hover{
        background-color: black;
        box-shadow: none;
    }

    .cancel-btn:hover{
        color: black;
        border: solid 1px black;
        transform: scale(1);
    }

    .mobile-overlay {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
        background: #ccc;
        z-index: 1;
    }

    .headline-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .contact-headline{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin: 24px 0 0 16px;
        gap: 16px;
        background: #ccc;
    }
    
    .headline-container .back-to-contactlist-btn{
        display: flex;
        width: 32px;
        height: 32px;
        margin-right: 16px;
        margin-bottom: 60px;
        cursor: pointer;
    }

    .contact-headline h1 {
        font-weight: 700;
        font-size: 47px;
        line-height: 56px;
    }

    .desktope-line{
        display: none;
    }

    .mobile-img-line{
        display: flex;
    }
    
    .contact-headline span {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }

    #moreInformationContact {
        width: 100%;
        height: 100%;
        background: #ccc;
        padding: 20px;

    }

    .more-info-initials{
        height: 80px;
        width: 80px;
    }

    .more-info-initials p{
        font-size: 27px;
        font-weight: 400;
        line-height: 32px;
    }

    .info-name-container {
        gap: 20px;
    }

    .procressing-area h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 43px;
    }

    .procressing-area-button-container {
        display: none;
    }

    .contact-information {
        height: 24px;
        width: 330px;
        margin-top: 20px;
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .mobile-procressing-area-overlay{
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: transparent;
        z-index: 1;
    }

    .mobile-procressing-area-overlay.active{
        display: flex;
    }

    .mobile-procressing-area-button{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 56px;
        width: 56px;
        border-radius: 56px;
        background-color: #2A3647;
        box-shadow: 0px 1px 6px 1px #2A3647;
        cursor: pointer;
        margin-top: 710px;
        left: 340px;
    }

    .procressing-mobile-menu-container{
        height: 116px;
        width: 100px;
        background-color: #FFFFFF;
        border-radius: 30px 30px 0 30px;
        margin-top: 750px;
        margin-left: 320px;
        animation: slidProcressMenu 0.2s ease-in;
    }
    
    @keyframes slidProcressMenu {
        from {
            transform: translateX(100%);
        }
        to{
            transform: translateX(0);
        }
    }
    
    .procressing-mobile-menu{
        height: 116px;
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .procressing-area-button-mobile-position{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding: 10px;
        gap: 8px;
    }

    .procressing-area-edit-button-mobile{
        display: flex;
        padding: 8px 20px 8px 10px;
        gap: 8px;
        color: black;
        font-size: 16px;
    }

    .procressing-area-delete-button-mobile{
        display: flex;
        padding: 5px 0px 0px 10px;
        gap: 8px;
        color: black;
        font-size: 16px;
    }

    .procressing-area-button-mobile-backgroundcolor{
        background-color: #cccccc4b;
        border-radius: 5px;
    }
}

@media(max-width: 375px){
    #contactlist-container {
        width: 100%;
    }

    .container-letter {
        width: 100%;
    }

    .contacs-box-container {
        padding: 0;
        width: 100%;
    }

    .contactList {
        padding-bottom: 40px;
        width: 100%;
    }
}

@media(max-width: 361px){
    #contactlist-container {
        width: 100%;
    }

    .contactList {
        width: 300px;
    }

    .container-contact {
        width: 300px;
        height: 78px;
        border-radius: 10px;
        padding: 15px 0 15px 10px;
        display: flex;
        align-items: center;
        gap: 35px;
        margin: 0;
    }

    section {
        width: 300px;
    }

    .container-letter {
        width: 90%;
        padding: 17px 0 17px 20px;
    }

    .contacs-box-container {
        width: 300px;
        padding: 0 0 0 10px;
    }

    .line {
        width: 300px;
    }
}
