.all-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 232px;
    width: calc(100% - 232px);
}

nav{
    padding: 20px 23px 20px 116px;
}

.text-content{
    margin: 110px 0 0 96px;
}

.text-container{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.text-container > strong{
    font-size: 25px;
}

h1{
    font-size: 61px;
    margin-bottom: 35px;
}

h2{
    font-size: 27px;
    margin-bottom: 10px;
}

h3{
    font-size: 23;
    margin-bottom: 10px;
}

p{
    font-size: 16px;
    margin-bottom: 5px;
}

.bigger-area{
    margin-bottom: 30px;
}

d, a{
    color: #29ABE2;
    text-decoration: none;
}

.enjoy{
    margin-top: 50px;
}

