@font-face {
    font-family: Inter;
    src: url(/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}



body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.allcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.text-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 96px;
    margin-top: 110px;
}

.text-big {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.separator {
    width: 3px;
    height: 59px;
    background-color: #29abe2;
}

.text-small {
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 400px;
}

.text-big-button-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-big-button-top {
    font-size: 64px;
    line-height: 76.8px;
    text-align: center;
    font-weight: 600;
    color: #000000;
}

.button-img {
    width: 69px;
    height: 69px;
}

.text-small-button-top {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #2A3647;
}

.button-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 562px;
    gap: 24px;
    margin-left: 96px;
}

.button-top {
    padding: 38px 58px;
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
}

.button-top:hover {
    background-color: #2A3647;
}

.button-top:hover .text-big-button-top, 
.button-top:hover .text-small-button-top {
    color: #FFFFFF;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}