@font-face {
    font-family: Inter;
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #F6F7F8;
}

.allcontent {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 232px;
    width: calc(100% - 232px);
}

.small-menu-button {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;
    border-radius: 100%;
    background-color: #FFFFFF;
    color: #29ABE2;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.small-menu-button:hover {
    background-color: rgba(12, 46, 98, 0.12);
}

.help-img:hover {
    width: 24px;
    height: 24px;
}

.title__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 96px;
    margin-top: 110px;
    margin-bottom: 56px;
}

.title__text-big {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}

.title__separator {
    width: 3px;
    height: 59px;
    background-color: #29abe2;
}

.title__text-small {
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 400px;
}

.button-name-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.all-button-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 96px;
    flex-direction: column;
    width: 560px;
    height: 562px;
    gap: 36px;
}

.text-big-button-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-big-button-top {
    font-size: 64px;
    line-height: 76.8px;
    text-align: center;
    font-weight: 600;
    color: #000000;
}

.button-img {
    width: 69px;
    height: 69px;
}

.text-small-button-top {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 400;
    color: #2A3647;
}

.button-middle-img-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.separator-button-middle {
    width: 2px;
    height: 102px;
    background-color: #D1D1D1;
}

.date-text-box {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 13px;
    width: 178px;
    height: 57px;
}

.button-middle-inside-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 130px;
    height: 96px;
}

.button-top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 168px;
    gap: 32px;
}

.transform-origin-right {
    transform-origin: right top;
}

.transform-origin-center-right {
    transform-origin: right center;
}

.transform-origin-left {
    transform-origin: left top;
}

.transform-origin-center-left {
    transform-origin: left center;
}

.button-top {
    padding: 38px 58px;
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
    width: 264px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
    transition: all 100ms ease-in-out;
}

.button-top:hover {
    background-color: #2A3647;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transform: scale(1.07, 1.095);
}

.button-top:hover .text-big-button-top,
.button-top:hover .text-small-button-top {
    color: #FFFFFF;
}

.button-top:active {
    background-color: #F9F9F9;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transform: scale(1.0, 1.0);
}

.button-top:active .text-big-button-top {
    color: #000000;
}

.button-top:active .text-small-button-top {
    color: #2A3647;
}

.button-middle {
    padding: 28px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
    width: 560px;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
    transition: all 100ms ease-in-out;
}

.button-middle:hover {
    background-color: #2A3647;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transform: scale(1.0286, 1.095);
}

.button-middle:hover .text-big-button-top,
.button-middle:hover .text-small-button-top,
.button-middle:hover .deadline-date,
.button-middle:hover .text-small-button-middle {
    color: #FFFFFF;
}

.button-middle:active {
    background-color: #FFFFFF;
    transform: scale(1.0, 1.0);
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.button-middle:active .text-big-button-top {
    color: #000000;
}

.button-middle:active .text-small-button-top,
.button-middle:active .deadline-date,
.button-middle:active .text-small-button-middle {
    color: #2A3647;
}

.button-middle-img-text-box {
    gap: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#priority-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.deadline-date {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    color: #2A3647;
}

.text-small-button-middle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #2A3647;
}

.button-bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    width: 560px;
}

.button-bottom {
    padding: 25px;
    gap: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-color: #FFFFFF;
    width: 168px;
    height: 168px;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.button-bottom:hover {
    background-color: #2A3647;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transform: scale(1.095, 1.095);
}

.button-bottom:hover .text-big-button-top,
.button-bottom:hover .text-small-button-top {
    color: #FFFFFF;
}

.button-bottom:active {
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    transform: scale(1.0, 1.0);
}

.button-bottom:active .text-big-button-top {
    color: #000000;
}

.button-bottom:active .text-small-button-top {
    color: #2A3647;
}

.name-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.daytime-text {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    color: #2A3647;
}

.name-text {
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    color: #29ABE2;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

@media(max-width: 428px) {
    .title__text-big {
        font-size: 47px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 0%;
    }

    .title__text-small {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0%;
    }
}